<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cclean'Air
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!--
    <div *ngIf="_etat === 1">
      <app-creer-indicateur (childCrea)="changerEtat($event)"></app-creer-indicateur>
    </div>

    <div *ngIf="_etat === 0">
      <app-visualiser-indicateurs (childEvent)="changerEtat($event)"></app-visualiser-indicateurs>
    </div>
  
    <div *ngIf="_etat === 2">
      <app-modifier-indicateur [indicateurCourant]=this.indicateurCourant (childModif)="changerEtat($event)">
      </app-modifier-indicateur>
    </div>

    <div *ngIf="_etat === 3">
      <app-resultat-indicateur [indicateurCourant]=this.indicateurCourant (childResultat)="changerEtat($event)">
      </app-resultat-indicateur>
    </div>
  -->
  </div>

</ion-content>