<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-icon size="large" routerLink="/indicateurs" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Cclean'Air
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    <h1 class="ion-margin-bottom ion-margin-top">Mes indicateurs</h1>
  </ion-toolbar>

  <ion-toolbar class="ion-margin-top">
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>Communes</ion-label>
      <ion-select ok-text="Ok" cancel-text="Annuler" #commune="ngModel" [(ngModel)]="indicateurCreation.commune">
        <ion-select-option *ngFor="let ville of listeCommunes" value="{{ville}}" name="commune" ngDefaultControl>
          {{ville}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top " lines="none">
      <ion-label>Activer alertes pollution</ion-label>
      <ion-checkbox color="primary" slot="start" name="alerte" [(ngModel)]="indicateurCreation.alerte"
        #alerte="ngModel"></ion-checkbox>
    </ion-item>
    <ion-button expand="block" shape="round" class="ion-margin-top" (click)="creerIndicateur(indicateurCreation)"
      [disabled]="commune.pristine">
      Créer
    </ion-button>
    <ion-text color="danger">
      <p *ngIf="messageErreur != null" class="ion-text-center">{{messageErreur}}</p>
    </ion-text>
  </ion-toolbar>

</ion-content>