
<ion-content class="ion-padding">
    <ion-img class="ion-padding" src="assets/logo.png">
    </ion-img>
    <ion-text color="primary" class="ion-text-center">
        <h1>Cclean'Air</h1>
    </ion-text>
    <p class="ion-padding-bottom ion-text-center">
        L'application de suivi des conditions météorologiques et de la
        pollution des communes de Loire-Atlantique.
    </p>
    <ion-button expand="block" routerLink="/authentification">
        Se connecter
        <ion-icon slot="end" name="log-in"></ion-icon>
    </ion-button>
    <ion-button color="success" expand="block" routerLink="/inscription">
        Créer un compte
        <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
</ion-content>