<ion-card>
    <ion-card-header>
        <h1>S'inscrire</h1>
        <ion-card-subtitle>
            <h2>Gestion des données personnelles</h2>
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>
            Cclean-Air nécessite l'utilisation de certaines données
            personnelles pour pouvoir fonctionner. La création de compte
            implique de votre part d'accepter les conditions d'utilisation
            décrites ci-dessous :</p>
        <ul>
            <li>
                les données personnelles renseignées lors de l'inscription
                sont stockées dans une base de données hébergée sur un
                serveur de l'Union Européenne
            </li>
            <li>
                ces données sont uniquement consultables par les
                administrateurs de cclean-air
            </li>
            <li>
                aucune utilisation n'est faite de ces données en dehors de
                l'utilisation de cclean-air
            </li>
            <li>
                les mots de passe sont hachés (avec l'algorythme bcrypt)
                avant d'être stockés
            </li>
            <li>
                vous pourrez à tout moment modifier votre profil, votre mot
                de passe et supprimer votre compte en accédant à la page de
                profil
            </li>
            <li>
                les données relatives à un utilisateur sont intégralement et
                définitivement supprimées lors de la suppression du compte
            </li>
            <li>
                un cookie d'authentification est créé lors de la connexion
                (ce cookie est nécessaire au bon fonctionnement de
                l'application)
            </li>
        </ul>
    </ion-card-content>
</ion-card>
