<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/indicateurs/{{codeInsee}}" name="arrow-back"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Cclean'Air
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="affichageFormulaire">

    <ion-toolbar>
      <ion-title>Historique de la commune :</ion-title>

    </ion-toolbar>
    <ion-toolbar class="ion-margin-bottom">
      <ion-title>{{donneesLocales.commune.nom}}</ion-title>
    </ion-toolbar>
    <form #formulaire="ngForm" name="formulaire">
      <ion-list>
        <ion-list-header>
          Période
        </ion-list-header>
        <ion-item>
          <ion-label>Date début</ion-label>
          <ion-datetime value="{{myDate}}" #dateDebut="ngModel" name="dateDebut"
            [(ngModel)]="donneesRecherchees.dateDebut" [max]="myDate" ngDefaultControl>
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Date de fin</ion-label>
          <ion-datetime value="{{myDate}}" #dateFin="ngModel" name="dateFin" [(ngModel)]="donneesRecherchees.dateFin"
            [max]="myDate" ngDefaultControl>
          </ion-datetime>
        </ion-item>

        <ion-list-header class="ion-margin-top">
          Polluant
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Polluant</ion-label>
          <ion-select ok-text="Ok" cancel-text="Cancel" #polluant="ngModel" name="polluant"
            [(ngModel)]="donneesRecherchees.polluant">
            <ion-select-option *ngFor="let polluant of listePolluants" value="{{polluant}}" name="polluant"
              ngDefaultControl>
              {{polluant}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" (click)="rechercheHistorique()"
          [disabled]="dateDebut.pristine || dateFin.pristine || polluant.pristine">Rechercher
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>
        <ion-text color="danger">
          <p *ngIf="polluantVide" class="ion-text-center">Désolé, nous n'avons pas de données enregistrées pour ce
            polluant sur cette commune</p>
        </ion-text>
        <ion-text color="danger">
          <p *ngIf="erreur != null" class="ion-text-center">{{erreur}}</p>
        </ion-text>
      </ion-list>
    </form>
  </ng-container>


  <div [style.visibility]="!affichageFormulaire ? 'visible' : 'hidden'">


    <ion-card>
      <ion-card-header class="ion-text-center" style="white-space: normal;">
        {{donneesLocales.commune.nom}} - {{donneesRecherchees.polluant}} en {{unite}}
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>

        <ion-button expand="block" (click)="retourFormulaire()">Retour formulaire
          <ion-icon slot="end" name="undo"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>