<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Cclean'Air
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    <ion-title class="ion-text-center ion-margin-bottom ion-margin-top">MES INDICATEURS</ion-title>
  </ion-toolbar>


  <ion-toolbar class="ion-margin-top" *ngIf="indicateurVide">
    <ion-text class="ion-text-center ion-margin-top">Vous n'avez pas encore créé
      d'indicateur
    </ion-text>
  </ion-toolbar>
  <ion-toolbar class="ion-margin-top" *ngIf="!indicateurVide">
    <ion-toolbar *ngFor="let indicateur of listeIndicateurs">
      <ion-button expand="block" color="medium" routerLink="/indicateurs/{{indicateur.codeInsee}}">
        <ion-icon slot="end" name="information-circle-outline"></ion-icon>
        {{indicateur.nomCommune}}
      </ion-button>
    </ion-toolbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-button expand="block" routerLink="/indicateurs/creer" [disabled]="!compteurIndicateurs">
      <ion-icon slot="end" name="add"></ion-icon>
      Ajouter un indicateur
    </ion-button>
    <ion-text color="danger" *ngIf="!compteurIndicateurs" text-center>Vous avez atteint la limite de 5
      indicateurs</ion-text>
  </ion-toolbar>


</ion-content>