<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-icon size="large" routerLink="/accueil" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Cclean'Air
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar *ngIf="suppressionIndicateurs == false">
    <h1 class="ion-margin-bottom ion-margin-top">Mes indicateurs</h1>
  </ion-toolbar>


  <ion-toolbar class="ion-margin-top" *ngIf="indicateurVide && suppressionIndicateurs == false">
    <ion-text class="ion-text-center ion-margin-top">Vous n'avez pas encore créé
      d'indicateur
    </ion-text>
  </ion-toolbar>
  <ion-toolbar class="ion-margin-top" *ngIf="!indicateurVide && suppressionIndicateurs == false">
    <ion-toolbar *ngFor="let indicateur of listeIndicateurs">
      <ion-row>
        <ion-col size="9">
          <ion-button expand="block" color="medium" routerLink="/indicateurs/{{indicateur.codeInsee}}">
            <ion-icon slot="end" name="information-circle-outline"></ion-icon>
            {{indicateur.nomCommune}}
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="supprimerIndicateur(indicateur)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>

  <ion-toolbar *ngIf="suppressionIndicateurs == false">
    <ion-button expand="block" routerLink="/indicateurs/creer" [disabled]="!compteurIndicateurs">
      <ion-icon slot="end" name="add"></ion-icon>
      Ajouter un indicateur
    </ion-button>
    <ion-text color="danger">
      <p *ngIf="!compteurIndicateurs" class="ion-text-center">Vous avez atteint la limite de 5
        indicateurs</p>
    </ion-text>
  </ion-toolbar>

  <ng-container *ngIf="suppressionIndicateurs == true">
      <ion-content>
        <ion-title class="ion-padding-top ion-text-center" justify-content-center align-items-center
          style="height: 30%; flex-direction: column">Êtes-vous sûr de vouloir<br>supprimer l'indicateur ?<br>
          <ion-icon class="ion-padding-top" name="alert" size="large" color="danger"></ion-icon>
        </ion-title>
  
        <ion-row>
          <ion-col>
            <ion-button class="button" expand="block" (click)="suppressionIndicateurs = false">Annuler
              <ion-icon slot="end" name="close-circle"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="button" color="danger" expand="block" (click)="confirmationSuppressionIndicateur()">
              <ion-icon slot="end" name="trash"></ion-icon>
              <label>Valider</label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-container>


</ion-content>