<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-icon size="large" routerLink="/accueil" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Cclean'Air</ion-title>
    </ion-toolbar>
    <ion-searchbar animated="true" placeholder="Nom de la commune..." (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="submitSearch(item)">
            {{item.nomCommune}}
        </ion-item>
    </ion-list>
</ion-header>

<ion-content>
    <ng-container *ngIf="resultatRecherche">
        <ion-card>
            <ion-card-content>
                <ion-card-title>{{resultatRecherche.nom | uppercase}}</ion-card-title>
                <ion-card-subtitle>({{resultatRecherche.nbHabitants}} habitants)</ion-card-subtitle>

                <ion-button routerLink="/communes/historique/{{resultatRecherche.codeInsee}}" slot="end" size="small">
                    <ion-icon slot="end" name="list"></ion-icon>
                    <label>Historique</label>
                </ion-button>
            </ion-card-content>

            <ion-card-content>
                <ion-card-subtitle>
                    CONDITIONS METEOROLOGIQUES
                </ion-card-subtitle>
                <ion-row>
                    <ion-item>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-icon name="{{icon}}" slot="start" size="large" style="zoom:3.0;"
                                    color="{{iconColor}}">
                                </ion-icon>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-icon name="thermometer" slot="start" size="large" color="danger"></ion-icon>
                                <ion-label> {{resultatRecherche.meteo.temperature| number: '1.0-0'}} °C</ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-icon name="sunny" slot="start" size="large" color="warning"></ion-icon>
                                <ion-label> {{resultatRecherche.meteo.ensoleillement}} %</ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-icon name="water" slot="start" size="large" color="primary"></ion-icon>
                                <ion-label> {{resultatRecherche.meteo.humidite}} %</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-item>
                </ion-row>
            </ion-card-content>

            <ion-card-content>
                <ion-card-subtitle class="ion-margin-bottom">
                    POLLUTION
                </ion-card-subtitle>

                <ion-text color="success" *ngIf="!resultatRecherche.niveauAlerte">
                    <h2 class="ion-text-center">Aucune alerte pollution</h2>
                </ion-text>
                <ion-text color="danger" *ngIf="resultatRecherche.niveauAlerte">
                    <h2 class="ion-text-center">Alerte Pollution : {{resultatRecherche.niveauAlerte.nom}}</h2>
                </ion-text>

                <ion-item-sliding>
                    <ion-item *ngFor="let polluant of resultatRecherche.polluants">
                        <ion-label>{{polluant.nom}}</ion-label>
                        <ion-note slot="end" color="dark">{{polluant.valeur}} {{polluant.unite}}</ion-note>
                    </ion-item>
                </ion-item-sliding>

            </ion-card-content>

        </ion-card>
    </ng-container>


    <div *ngIf="loading === true" id="spinner"></div>

</ion-content>