<ion-header>
    <ion-toolbar>
        <ion-title text-center>Cclean'Air</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ng-container *ngIf="!isErreurDeDeconnexion && !isDeconnexionOk">
                <ion-text color="primary" text-center>
                    <h1>Déconnexion en cours ...</h1>
                </ion-text>
            </ng-container>
            <ng-container *ngIf="isErreurDeDeconnexion && !isDeconnexionOk">
                <ion-text color="danger" text-center>
                    <h1>La déconnexion a échoué. Veuillez vérifier votre
                        connexion
                        internet ou réessayer plus tard.</h1>
                </ion-text>
            </ng-container>
            <ng-container *ngIf="isDeconnexionOk">
                <ion-text color="success" text-center>
                    <h1>Vous avez été déconnecté.</h1>
                </ion-text>
            </ng-container>
        </ion-card-header>
        <ion-card-content>
            <ng-container *ngIf="isDeconnexionOk">
                <ion-text text-center>
                    <p>Vous serez redirigé sur la page d'accueil d'ici 5
                        secondes.</p>
                </ion-text>
            </ng-container>
            <ion-button routerLink="/accueil-visiteur" class="ion-margin-top" expand="block">
                <ion-icon slot="end" name="home"></ion-icon>
                Aller à l'accueil
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>