<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Cclean'Air</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-menu-button color="light">
                    <ion-img src="assets/home_bg.png"></ion-img>
                </ion-menu-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col class="ion-text-center" size="5">
                <h2>Bienvenue {{utilisateur}} !</h2>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isErreurRechercheParPosition">
            <ion-text class="ion-text-center" color="danger">
                <p>

                    Une erreur s'est produite dans la récupération des
                    données locales. Veuillez vous reconnecter ou réessayer
                    plus tard.

                </p>
            </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">

            <ion-col class="ion-text-center" size="12">

                <ion-button (click)="rechercheParPosition()" class="ion-text-center" color="primary" expand="block">
                    Qualité de l'air pour ma position
                    <ion-icon slot="end" name="compass"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">

            <ion-col class="ion-text-center" size="12">
                <ion-button class="ion-text-center" color="primary" expand="block" routerLink="/indicateurs">
                    Mes indicateurs enregistrés
                    <ion-icon slot="end" name="filing"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">

            <ion-col class="ion-text-center" size="12">

                <ion-button (click)="rechercheDetaillee()" class="ion-text-center" color="primary" expand="block">
                    Recherche personnalisée
                    <ion-icon slot="end" name="search"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <div *ngIf="loading === true" id="spinner">
            <ion-img src="assets/loading.gif"></ion-img>
        </div>
    </ion-grid>
</ion-content>